@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
}

::selection {
  background-color: rgb(235, 54, 120);
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(235, 54, 120);
  margin: 0;
  width: 100%; /* Ensure body takes full width */
}

.pomodoro {
  background-color: rgb(24, 1, 97);
  max-width: 500px;
  max-height: 100px;
  padding: 9rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  background-color: rgb(79, 23, 135);
  font-size: 1.22rem;
  padding: 1em 1.5em;
  border-radius: 30px;
}

button:hover {
  background-color: hsl(19, 96%, 61%);
}

button:active {
  background-color: hsl(19, 96%, 80%);
}

.breaks {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9em;
  margin: 10px 0;
  color: white;
}

/* Media query for resolution 774px or smaller */
@media (max-width: 774px) {
  .pomodoro {
    max-width: 350px;
    padding: 6rem;
    border-radius: 20px;
  }

  button {
    font-size: 1rem;
    padding: 0.8em 1.2em;
  }

  #timer {
    font-size: 6em;
  }
}

@media (max-width: 542px) {
    .pomodoro {
      max-width: 250px;
      padding: 4.5rem;
      border-radius: 10px;
    }
  
    button {
      font-size: 0.8rem;
      padding: 0.8em 1em;
    }
  
    #timer {
      font-size: 4em;
    }
  }

  @media (max-width: 390px) {
    .pomodoro {
      max-width: 100px;
      padding: 4.0rem;
      border-radius: 10px;
    }
  
    button {
      font-size: 0.5rem;
      padding: 0.8em 1em;
    }
  
    #timer {
      font-size: 4em;
    }
  }